html, body {
  margin: 0px;
  height: 100%;
}
body {
  background-color: #07c;
  min-width: 750px;
}
* {
  font-family: 'Open Sans';
}
.clear {
  clear: both;
}
input {
  font-size: 13px;
  color: #444;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  font-family: 'Open Sans';
}
.ember-view {
  height: 100%;
}
h3 {
  color: #fefefe;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  font-weight: 100;
}
/*Ember action*/
.action {
  cursor: pointer;
}




/*Global*/
.action-button {
  font-size: 25px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px 12px;
  background-color: #fff;
  color: #07c;
  margin-top: 25px;
  -webkit-box-shadow: 0 0px 3px .1px rgba(0,0,0,.3);
  box-shadow: 0 0px 3px .1px rgba(0,0,0,.3);
}
.action-button:hover {
  background-color: #005997;
  color: #fefefe;
  border: 1px solid #005997;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.action-button.small {
  margin-top: -5px;
  font-size: 15px;
  padding: 5px 9px;
}
.button.small {
  border: 1px solid #fff;
  border-radius: 6px;
  margin-top: -5px;
  margin-right: 10px;
  font-size: 15px;
  padding: 5px 9px;
  background-color: #fff;
  color: #07c;
  margin-top: 25px;
  -webkit-box-shadow: 0 0px 3px .1px rgba(0,0,0,.3);
  box-shadow: 0 0px 3px .1px rgba(0,0,0,.3);
}




/*application*/
#main-outer {
  float: right;
  right: 50%;
  position: relative;
}
#main-inner {
  float: right;
  right: -50%;
  top: 100px;
  position: relative;
}


/*nav*/
nav {
  height: 10%;
  width: 100%;
  background-color: rgba(0,70,119,1); /*#004677*/
  -webkit-box-shadow: 0 3px 3px .1px rgba(0,0,0,.1);
  box-shadow: 0 3px 3px .1px rgba(0,0,0,.1);
  position: fixed;
  z-index: 100;
}
nav #logo {
  height: 100%;
  width: 30%;
  float: left;
}
nav #logo img {
  height: 90%;
  top: 5%;
  position: relative;
}
nav #links {
  width: 515px;
  float: right;
  top: 50%;
  position: relative;
  margin-top: -13px;
}
nav ul {
  margin: 0px;
  width: 100%;
}
nav ul li {
  margin: 0px;
  list-style: none;
  color: #fefefe;
  font-weight: 100;
  float: left;
  margin-right: 40px;
}
nav ul li:hover {
  cursor: pointer;
  color: #0597ff;
}




/*index*/
.view-index #logo {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
}
.view-index #slogan{
  font-weight: 100;
  color: #fefefe;
  font-size: 16px;
  position: relative;
  left: 50%;
  margin-left: -291px;
}
.action-button.get-started {
  margin-left: -137px;
  position: relative;
  left: 50%;
}
.action-button.learn-more {
  margin-left: -17px;
}


/*Login*/
.view-login {
  width: 625px;
}
.view-login #top {
  text-align: center;
  color: #fff;
  font-weight: 100;
  text-shadow: 0px 0px 2px rgba(100, 100, 100, 1);
}
.view-login .type {
  width: 301px;
  box-sizing: border-box;
  float: left;
}
.view-login #meetup {
  margin-right: 20px;
}
.view-login .type .title {
  text-align: center;
}



.view-login .type img{
  height: 35px;
}
.view-login #meetup button img{
  margin: 0px 10px -8px 0px;
}
.view-login #linkedin button img{
  margin: 0px 10px -7px 0px;
}



/*Search*/
#search {
  width: 600px;
  min-height: 600px;
}
#search label {
  width: 100%;
  color: #fefefe;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
#search textarea {
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #07c;
  margin-bottom: 15px;
}
#search input {
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #07c;
  margin-bottom: 15px;
  width: 90%;
}

#search select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  /* margin: 20px; */
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
#search #speaker-matches {
  min-height: 600px;
}
#speaker-matches .speaker {
  margin: 0px 0px 15px 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 170px;
}
#speaker-matches .add {
  width: 5%;
  float: left;
  background-color: #eee;
  border-radius: 6px 0px 0px 6px;
  height: 100%;
  box-sizing: border-box;
  color: #005677;
}
#speaker-matches .add:hover {
  background-color: #005677;
  color: #eee;
  cursor: pointer;
}
#speaker-matches .add p{
  font-size: 30px;
  color: inherit;
  padding: 22px 0px 0px 6px;
}
#speaker-matches .left {
  width: 20%;
  float: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  height: 100%;
}
#speaker-matches .avatar {
  border-radius: 100px;
  width: 85px;
  position: relative;
  left: 50%;
  margin-left: -42px;
  margin-top: 10px;
}
#speaker-matches .left div {
  text-align: center;
  color: #fefefe;
  font-weight: 100;
}
#speaker-matches .left .rating img {
  width: 15px;
  margin-right: 5px;
}
#speaker-matches .right {
  width: 70%;
  float: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0px 6px 6px 0px;
  box-sizing: border-box;
  height: 100%;
}
#speaker-matches .right .bio {
  margin-top: 10px;
  color: #fefefe;
  font-weight: 100;
}
