<nav>
  {{#link-to 'index' tagName='div' id='logo' class='action'}}<img src='assets/images/seminars_me_logo_120.png' />{{/link-to}}
  <div id='links'>
    <ul>
        {{#link-to 'index' tagName='li'}}Home{{/link-to}}
        {{#link-to 'search' tagName='li'}}Search for Experts{{/link-to}}
        {{#link-to 'index' tagName='li'}}Contact Us{{/link-to}}
        {{!-- {{#if session.isAuthenticated}}
          <li><button class='action-button small' {{action 'invalidateSession'}}>Logout</button></li>
        {{/else}}
          <li>{{#link-to 'login' tagName='button' class='action-button small'}}Login{{/link-to}}</li>
        {{/if}} --}}
    </ul>
  </div>
  <div class='clear'>
</nav>
<div id='main-outer'>
  <div id='main-inner'>
    {{outlet class='outlet-application'}}
  </div>
</div>
