<div id='logo'><img src='assets/images/seminars_me_logo_300.png'></div>
<div id='slogan'>Connecting experts who love to inspire with communities who love to be inspired</div>
{{#link-to "login" tagName='button' class='get-started action-button'}}Connect through LinkedIn{{/link-to}}

