<h2 id='top'>Are you a...</h2>
<div class='type' id='meetup'>
	<h3 class='title'>Event Organizer</h3>
	<button {{action 'authenticate' 'meetup'}} class='action-button'><img src='assets/images/meetup.jpg' />Login with Meetup</button>
</div>

<div class='type' id='linkedin'>
	<h3 class='title'>Professional Speaker</h3>
	<button {{action 'authenticate' 'linkedin'}} class='action-button'><img src='assets/images/linkedin.png' />Login with Linkedin</button>
</div>

<div class='clear'></div>