<div id='title'>Connect Through LinkedIn</div>
<form>
  <label id='username_label'>Username</label>
  <input type='username' id='username_input' placeholder="LinkedIn email" />
  <label id='password_label'>Password</label>
  <input type='password' id='password_input' placeholder="LinkedIn password" />
  <div class='clear'></div>
</form>

<button class='action-button' {{action 'authenticate'}}>Start Something Awesome</button>
